<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>{{'PARAGRAPH.DESCRIPTION' | translate}}</p>
    <form name="uploadRequestForm" novalidate
          x-ng-submit="upload_request.submit()">
      <fieldset>
        <legend>
          {{'LEGEND_USER' | translate}}
        </legend>
        <div class="col-md-7 col-md-offset-2">
          <div class="form-group">
            <div class="form-inline">
              <div class="form-group"
                x-ng-class="{'has-error': uploadRequestForm.firstName.$invalid &&
                (uploadRequestForm.firstName.$dirty || ls.uploadRequestForm.attempted)}">
                <input type="firstName" class="form-control" name="firstName"
                       placeholder="{{'FORM.FIRSTNAME' | translate}}"
                       x-ng-model="upload_request.form.firstName" />
              </div>
              <div class="form-group"
                x-ng-class="{'has-error': uploadRequestForm.lastName.$invalid &&
                (uploadRequestForm.lastName.$dirty || ls.uploadRequestForm.attempted)}">
                <input type="lastName" class="form-control" name="lastName"
                       placeholder="{{'FORM.LASTNAME' | translate}}"
                       x-ng-model="upload_request.form.lastName" />
              </div>
            </div>
          </div>
          <div class="form-group"
            x-ng-class="{'has-error': uploadRequestForm.senderEmail.$invalid &&
            (uploadRequestForm.senderEmail.$dirty || ls.uploadRequestForm.attempted)}">
            <input type="email" class="form-control" name="senderEmail"
                   placeholder="{{'FORM.SENDER_EMAIL' | translate}}"
                   x-ng-model="upload_request.form.senderEmail" />
          </div>
          <div class="form-group"
            x-ng-class="{'has-error': uploadRequestForm.targetEmail.$invalid &&
            (uploadRequestForm.targetEmail.$dirty || ls.uploadRequestForm.attempted)}">
            <input type="email" class="form-control" name="targetEmail"
                   placeholder="{{'FORM.TARGET_EMAIL' | translate}}"
                   x-ng-model="upload_request.form.targetEmail" />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_MAIL' | translate}}
        </legend>
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group"
            x-ng-class="{'has-error': uploadRequestForm.subject.$invalid &&
            (uploadRequestForm.subject.$dirty || ls.uploadRequestForm.attempted)}">
            <input type="subject" class="form-control" name="subject"
                   placeholder="{{'FORM.SUBJECT' | translate}}"
                   x-ng-model="upload_request.form.subject" />
          </div>
          <div class="form-group"
            x-ng-class="{'has-error': uploadRequestForm.content.$invalid &&
            (uploadRequestForm.content.$dirty || ls.uploadRequestForm.attempted)}">
            <input type="content" class="form-control" name="content"
                   placeholder="{{'FORM.CONTENT' | translate}}"
                   x-ng-model="upload_request.form.content" />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_VALIDATE' | translate}}
        </legend>
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group"
            x-ng-class="{'has-error': uploadRequestForm.captcha.$invalid &&
            (uploadRequestForm.captcha.$dirty || ls.uploadRequestForm.attempted)}">
            <input type="captcha" class="form-control" name="captcha"
                   placeholder="{{'FORM.CAPTCHA' | translate}}"
                   x-ng-model="upload_request.form.captcha" />
          </div>
          <div class="form-group">
            <div class="controls">
              <button type="button" class="btn btn-warning" id="reset"
                      x-ng-click="upload_request.reset()">
                {{'FORM_ACTIONS.RESET' | translate}}
              </button>
              <button type="submit" class="btn btn-success" id="submit">
                {{'FORM_ACTIONS.SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
