<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-primary"
            x-ng-click="upload_proposition.changeLanguage('en')">
      {{'LANGUAGE.ENGLISH' | translate}}
    </button>
    <button type="button" class="btn btn-primary"
            x-ng-click="upload_proposition.changeLanguage('fr')">
      {{'LANGUAGE.FRENCH' | translate}}
    </button>
  </div>
    <p>{{'PARAGRAPH.DESCRIPTION' | translate}}</p>
    <form name="uploadPropositionForm">
      <fieldset>
        <legend>
          {{'LEGEND_USER' | translate}}
        </legend>
        <div class="col-md-7 col-md-offset-2">
          <div class="form-group">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" name="firstName"
                       placeholder="{{'FORM.FIRSTNAME' | translate}}"
                       x-ng-model="upload_proposition.form.firstName"
                       x-validator="required"
                       x-valid-method="blur">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="lastName"
                       placeholder="{{'FORM.LASTNAME' | translate}}"
                       x-ng-model="upload_proposition.form.lastName"
                       x-validator="required"
                       x-valid-method="blur">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="senderEmail"
                   placeholder="{{'FORM.SENDER_EMAIL' | translate}}"
                   x-ng-model="upload_proposition.form.mail"
                   x-validator="email"
                   x-valid-method="blur">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="targetEmail"
                   placeholder="{{'FORM.TARGET_EMAIL' | translate}}"
                   x-ng-model="upload_proposition.form.recipientMail"
                   x-validator="email"
                   x-valid-method="blur">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_PROPOSAL' | translate}}
        </legend>
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <input type="text" class="form-control" name="subject"
                   placeholder="{{'FORM.SUBJECT' | translate}}"
                   x-ng-model="upload_proposition.form.subject"
                   x-validator="required"
                   x-valid-method="blur">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="content"
                   placeholder="{{'FORM.CONTENT' | translate}}"
                   x-ng-model="upload_proposition.form.body"
                   x-validator="required"
                   x-valid-method="blur">
            </textarea>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {{'LEGEND_VALIDATE' | translate}}
        </legend>
        <div class="col-md-8 col-md-offset-2">
          <div x-vc-recaptcha
               x-tabindex="3"
               x-theme="clean"
               x-key="upload_proposition.recaptchaPublicKey">
          </div>
          <div class="form-group">
            <div class="controls">
              <button type="button" class="btn btn-warning" id="reset"
                      x-validation-reset="uploadPropositionForm">
                {{'FORM_ACTIONS.RESET' | translate}}
              </button>
              <button type="submit" class="btn btn-success" id="submit"
                      x-validation-submit="uploadPropositionForm"
                      x-ng-click="upload_proposition.submit()">
                {{'FORM_ACTIONS.SUBMIT' | translate}}
              </button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
